$color-white: #fff;
$color-black: #2B2B2B;
$primary-color:linear-gradient(to right, #3264f5 2%,#7202bb 82%);
$secondary-color: #17C2D8;
$font-weight-7:700;
$font-weight-6:600;
$font-weight-5:500;
$font-weight-4:400;
$font-weight-3:300;
$smoke-gray:#818181;
